# Flutter
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.metadata
frontend/ios/Flutter/flutter_export_environment.sh

# Android
frontend/android/.gradle
frontend/android/local.properties
frontend/android/**/GeneratedPluginRegistrant.java

# Python
backend/__pycache__/
backend/*.pyc
backend/.venv
backend/venv/

# Downloads
backend/downloads/*
!backend/downloads/.gitkeep

# IDE
.vscode/
.idea/
*.iml
*.swp
.DS_Store
